<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Shivam Patel</title>
    <link rel="stylesheet" href="../static/about-me.css">
</head>
<body>
    <header>
        <div class="profile-picture">
            <img src="../static/shivam.jpg" alt="Shivam Image" class="round-image">
        </div>
        <h1>Shivam Patel</h1>
        <h2>Computer Science - Data Analytics</h2>
    </header>
    <main>
        <section id="about">
            <h2>About Me</h2>
            <p>
                Greetings! I'm Shivam Patel, a final-year Computer Science student specializing in Data Analytics at Trent University. My passion for technology and problem-solving has driven me to pursue a career in software development, where I aim to create efficient and user-centric solutions.
            </p>
            <h3>Academic Journey</h3>
            <p>
                Throughout my academic journey, I have immersed myself in the world of software development. I have gained a solid foundation in programming languages such as C#, C++, and Python, and I have honed my skills in developing robust and scalable applications. My coursework has challenged me to think critically and approach complex coding problems with creativity and precision.
            </p>
            <h3>Personal Interests</h3>
            <p>
                Beyond coding, I also have a not-so-secret obsession with Multiplayer FPS games; you could say I've found my "Matrix" in the virtual battlegrounds! When I'm not crafting lines of code, I'm dodging virtual bullets and embracing the adrenaline rush of intense gaming sessions. It's like entering a whole new world, where the rules bend and the excitement never stops. Just like Neo in "The Matrix," I'm always striving to be "The One" in the gaming universe.
            </p>
            <h3>Future Aspirations</h3>
            <p>
                As I approach graduation, I am eager to embark on a fulfilling career in software development. I aspire to work with a dynamic team that shares my enthusiasm for crafting exceptional software solutions. My goal is to contribute to projects that make a positive impact on people's lives while continuously growing as a developer.
            </p>
            <h3>Let's Connect</h3>
            <p>
                If you share a passion for software development or have exciting opportunities to discuss, I'd love to connect with you! Feel free to reach out to me through the contact information provided on this website. Let's explore the vast and ever-evolving world of software development together!
            </p>
        </section>

        <section id="skills">
            <h2>Skills</h2>
            <ul>
                <li>Data Analysis</li>
                <li>Data Visualization</li>
                <li>Machine Learning</li>
                <li>Python Programming</li>
                <li>Java Programming</li>
                <li>C++ Programming</li>
                <li>Algorithm Design</li>
                <li>Data Structures</li>
                <li>Software Development</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </section>

        <section id="education">
            <h2>Education</h2>
            <p>Trent University, Peterborough, Canada</p>
            <p>Bachelor of Computer Science - Specialization in Data Analytics</p>
            <p>Expected Graduation: August 2023</p>
        </section>

        <section id="contact">
            <h2>Contact Me</h2>
            <p>Email: shivampatel6808@gmail.com</p>
        </section>

        <p id="thank-you">
            Thank you for visiting my page. I look forward to connecting with you soon!
        </p>

        <div class="button-container"> 
            <a class="back-button" href="{{ url_for('index') }}">Back to Detection Page</a>
        </div>

    </main>
    <footer>
        <p>&copy; 2023 Facial & Object Recognition by Shivam</p>
    </footer>
</body>
</html>
